.title {
  font-size: 30px;
  font-weight: 800;
  margin: 30px 0;
  letter-spacing: -0.5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 850px;
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
  }
}
